<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <figure class="logo-box"><a href="#"><img src="./assets/Files/Images/dronelogo.png" alt=""></a></figure>
                        <div class="text">
                            <p>The Agriculture Drone is a completely configurable platform that may be used for a multitude of purposes.</p>
                        </div>
                        <!-- <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                    <div class="service-widget footer-widget">
                        <div class="footer-title">Services</div>
                        <ul class="list">
                            <li><a href="#">Pesticide Spraying</a></li>
                            <li><a href="#">Fertilizer Spraying</a></li>
                            <li><a href="#">Disinfectant Spraying</a></li>
                            <li><a href="#">Fungicide Spraying</a></li>
        
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">Contacts</div>
                        <div class="text">
                            <p>25/27, Greams Road, Thousand light,
                                Chennai 600006</p>
                            
                            <p>+91 44 25916086 ,
                                +91 44 25915549</p>
                                <p>customerrelations&#64;madrassecurityprinters.com</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>