.header {
  position: sticky;
//   top: 0;
//   width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background: #DFF0D8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px;
}



.a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: darkcyan;
  cursor: pointer;
}

