/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-error-snackbar {
    background-color: #F44336; // Error color
    color: #ffffff; // Text color
}

.custom-success-snackbar {
    background-color: #4CAF50; // Success color
    color: #4CAF50; // Text color
}